# Données
data/processed/
data/raw/tunisia-latest.osm.pbf

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Streamlit
.streamlit/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Cache
.cache/